* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.octo-cat {
  max-width: 25rem;
  max-height: auto;
  padding: 1rem;
  border: 1px solid grey;
}

div {
  max-width: 30%;
  max-height: auto;
  display: inline-block;
  margin: 1rem;
  border-bottom: 1px solid lightgrey;
}
.avatar {
  max-width: 2rem;
  max-height: auto;
}

.cat-number {
  float: left;
}


p {
  display: inline;
  float: right;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
