* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.octo-cat {
  max-width: 20rem;
  max-height: auto;
  padding: 1rem;
  border: 1px solid grey;
}

div {
  display: inline-block;
  margin: 3rem;
}
.avatar {
  max-width: 2rem;
  max-height: auto;
  float: right;
}
div .center-image {
  padding: 5rem;
}

div
