* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.octo-cat {
  max-width: 25rem;
  max-height: auto;
  padding: 1rem;
  border: 1px solid grey;
}

div {
  max-width: 30%;
  max-height: auto;
  display: inline-block;
  margin: 1rem;
}
.avatar {
  max-width: 2rem;
  max-height: auto;
}

div .footer {
  display: inline;
}

.cat-name {
  float: right;
}

p {
  display: inline;
}
